{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
			Index Page
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/c1.css' %}">
</head>
<body>
	<header>
		<h1>CHENNAI SUPER KINGS</h1>
			<div id="links">
				<a href="">M.S.DHONI</a>
				<a href="">RUTURAJ GAIKWAD</a>
				<a href="">RAVINDRA JADEJA</a>
				<a href="">AMBATI RAYUDU</a>
			</div>
	</header>
	<!--landing-page-->
	<div id="landing-page">
		<div class="content-section">
			<h1>
				All The Best Team CSK
			</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<button>Watch Live here</button>
		</div>
	</div>


	<section>
		<h1>King of Indian Premier League</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
		<button>Watch Live Match</button>
	</section>

	<section>
		<h1>TOP PLAYERS</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
		<div id="players-section">
			
			<figure>
				<img src="{% static 'images/DHONI.png' %}">
				<figcaption><b>MS DHONI</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				<button>view details</button>
			</figure>
			<figure>
				<img src="{% static 'images/JADDU.png' %}">
				<figcaption><b>RAVINDRA JADEJA</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				<button>view details</button>
			</figure>
			<figure>
				<img src="{% static 'images/MOEEN.png' %}">
				<figcaption><b>MOEEN ALI</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				<button>view details</button>
			</figure>
			<figure>
				<img src="{% static 'images/AMB.png' %}">
				<figcaption><b>AMBATI RAYUDU</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				<button>view details</button>
			</figure>
			
			
			
		</div>
	</section>


	<section id="top-order-batsman">
		<h1>ALL PLAYERS</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>

		<div id="batsman">
			<figure>
				<img src="{% static 'images/BEN.png' %}">
				<figcaption><b>BEN STOKES</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

				<button>view details</button>
			</figure>


			<figure>
				<img src="{% static 'images/CONWAY.png' %}">
				<figcaption><b>DEVON CONWAY</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


			<figure>
				<img src="{% static 'images/DEEP.png' %}">
				<figcaption><b>DEEPAK CHAHAR</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


		</div>


		<div id="batsman">
			<figure>
				<img src="{% static 'images/DUBE.png' %}">
				<figcaption><b>SHIVAM DUBE</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


			<figure>
				<img src="{% static 'images/GAIKWAD.png' %}">
				<figcaption><b>RUTURAJ GAIKWAD</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


			<figure>
				<img src="{% static 'images/MUKESH.png' %}">
				<figcaption><b>MUKESH CHOUDHARY</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


		</div>


		<div id="batsman">
			<figure>
				<img src="{% static 'images/PATHIRANA.png' %}">
				<figcaption><b>MATEESHA PATHIRANA</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


			<figure>
				<img src="{% static 'images/PRETORIUS.png' %}">
				<figcaption><b>DWAINE PRETORIUS</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


			<figure>
				<img src="{% static 'images/RAHANE.png' %}">
				<figcaption><b>AJINKYA RAHANE</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


		</div>

		<div id="batsman">
			<figure>
				<img src="{% static 'images/SANTNER.png' %}">
				<figcaption><b>MITCHELL SANTNER</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


			<figure>
				<img src="{% static 'images/TEEKSHNA.png' %}">
				<figcaption><b>MAHESH TEEKSHANA</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


				<button>view details</button>
			</figure>


			<figure>
				<img src="{% static 'images/TUSHAR.png' %}">
				<figcaption><b>TUSHAR DESHPANDE</b></figcaption>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

				<button>view details</button>
			</figure>
		</div>		
	</section>
	<section>
		<footer>
		<h2>copyrights:&copy2023</h2>
		<small>Developed by @abinah_suara</small>
	</footer>
	</section>
	
</body>
</html>